h1 {
    color: #000000
}

* {
    border: solid;
    color: #000000
}

.header{
    background-color: rgb(82, 118, 122);
    display: flex;
    justify-content: space-between;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}

body{
background-color : #a6fc06
}

text{
    color : #000000
}
